<launch>	 
	<!-- rosaria node -->
	<include file="$(find pioneer_hallway)/launch/rosaria_pioneer_hallway.launch"/>
	
	<!-- start nodes for pioneer sensors -->
	<include file="$(find pioneer_test)/launch/pioneer_hallway_sensors.launch"/>
	
	<!-- move_base node -->
	<include file="$(find pioneer_hallway)/2dnav_pioneer_hallway.launch"/>

	<!-- controller node -->
	<include file="$(find pioneer_test)/launch/pioneer_controller_spin_recover.launch"/>
</launch>
