<launch>
  <arg name="robot_name"/>
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="yaw" default="0"/>
  
  <!-- Make sure initial pose matches $(find pioneer_description)/launch/pioneers.launch arg init_pose -->
  <group ns="$(arg robot_name)">
    <param name="tf_prefix" value="$(arg robot_name)" />
    <param name="amcl/initial_pose_x" value="$(arg x)" />
    <param name="amcl/initial_pose_y" value="$(arg y)" />
    <param name="amcl/initial_pose_a" value="$(arg yaw)" />
    <include file="$(find nav_bundle)/launch/localisation_launcher.launch">
      <arg name="robot_name" value="$(arg robot_name)" />
    </include>
    <include file="$(find rags_ros)/launch/move_base_vel_throttle.launch"/>
    <node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>
	  
	  <!-- Robot controller parameters -->
    <node pkg="pioneer_ros" type="pioneer_pid_controller" name="pioneer_ros">
    	<rosparam file="$(find pioneer_ros)/pioneer_controller_params.yaml" command="load"/>
    	<remap from="pioneer/cmd_vel" to="controller_cmd_vel"/>
    </node>
    <node pkg="pioneer_ros" type="move_base_recover" name="move_base_recover" output="screen">
      <remap from="pioneer/cmd_vel" to="recovery_cmd_vel"/>
    </node>
    <node pkg="rags_ros" type="speed_regulator" name="speed_regulator" output="screen"/>
  </group>
</launch>
